body {
  background-color: aquamarine;
  font-family: poppin, sans-serif;
  font-weight: 500;
  h1 {
    color: red;
    font-size: large;
  }

  @font-face {
    font-family: poppin;
    src: url("../../Public/font/Poppins-Medium.ttf");
    font-weight: 500;
  }
}
